{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "eslint-config-leapfrog/react", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": false,
          "ClassDeclaration": false,
          "ArrowFunctionExpression": true,
          "FunctionExpression": false
        }
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React", // Pragma to use, default to "React"
      "version": "detect" // React version. "detect" automatically picks the version you have installed.
    }
  },
  "globals": {
    "expect": "readonly" // jest adds expect to global for ease out writing tests
  }
}
